.findings-index-container {
  padding: 1rem;
  h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .search-container {
    input {
      width: 100%;
    }
  }

  .actions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    a {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  .findings-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
