:root {
  --color-primary: #1e90ff; /* Dodger Blue */
  --color-primary-hover: #1c86ee; /* Dodger Blue Hover */

  --color-secondary: #ff69b4; /* Hot Pink */
  --color-secondary-hover: #ff6eb4; /* Hot Pink Hover */

  --color-success: #32cd32; /* Lime Green */
  --color-success-hover: #2eb82e; /* Lime Green Hover */

  --color-danger: #ff4500; /* Orange Red */
  --color-danger-hover: #e03e00; /* Orange Red Hover */

  --color-warning: #ffa500; /* Orange */
  --color-warning-hover: #e59400; /* Orange Hover */

  --color-info: #00ced1; /* Dark Turquoise */
  --color-info-hover: #00b7c1; /* Dark Turquoise Hover */

  --color-light: #f0f8ff; /* Alice Blue */
  --color-light-hover: #e0f0ff; /* Alice Blue Hover */

  --color-dark: #2f4f4f; /* Dark Slate Gray */
  --color-dark-hover: #2a4242; /* Dark Slate Gray Hover */

  --color-border: rgba(255, 255, 255, 0.1);
  --bg-card: rgb(26 26 31);
}
