// Sassy

@use "font-awesome" with (
  $fa-font-path: "font-awesome"
);

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

aside {
  background-color: #f8f9fa;
  padding: 1rem;
  width: 200px;

  .header-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }

    .subtitle {
      font-size: 0.9rem;
      color: #6c757d;
    }
  }
}
